{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="container"> 
        
        <div class ="row">
            <div class="col text-center">
             <img src="/static/images/house-forest1.jpg" class="img-fluid img-thumbnail mx-auto d-block room-image">
            </div>
        </div>

      <div class ="row">
        <div class="col">
          <h1 class="text-center mt-4">You can contact us here</h1>
          <p>Email: hjiwshdiwhs@dhwdu.com ...</p>
        </div>
      </div>

      

    </div>
</div>

{{end}}