{{template "base" .}}

{{define "content"}}
<div class="container">
    <h1>Personal Details</h1>
    <p>Insert your personal details:</p>
    <form action="/personaldetailsDisplay">
        <label for="fname">First name:</label>
        <input type="text" id="fname" name="fname"><br><br>
        <label for="lname">Last name:</label>
        <input type="text" id="lname" name="lname"><br><br>
        <input type="submit" value="Submit">
    </form>
</div>

{{end}}